// Specific CSS for your home-page

.home-page-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  opacity: 80%;
}

.home-h1 {
  font-family: "Orbitron", sans-serif;
  color: $light-green;
  margin-left: 130px;
  font-size: x-large;
}
