<footer>
  <div class="footer">
    <div class="footer-copyright">
      © 2022 Strategix, Inc.
    </div>
    <div class="footer-links">
      <a href="https://www.instagram.com/force_ouvriere.fr/?hl=en"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/force.ouvriere.fr/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/force_ouvriere?lang=en"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
