<div class="home-page-div-1" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= image_path "hero.jpg"%>)">
</div>

<div class="locations-h2">
<h2>Find your Location</h2>
</div>

<div class="cards">
  <a href="/strikers?query=montreal" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dcgubphgl/image/upload/v1645807799/nick-fortin-montreal-street-art-murale_znknwz.jpg)">
    Montreal
  </a>

  <a href="/strikers?query=new+york" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dcgubphgl/image/upload/v1645807861/cli-fi-quand-la-fiction-nous-arme-face-a%CC%80-la-catastrophe-ecologique_j3z1n1.jpg)">
    New York
  </a>

  <a href="/strikers?query=paris" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dcgubphgl/image/upload/v1645808068/ill_3431527_9e3b_video-game-adrift-249484_rwf9uy.jpg)">
    Paris
  </a>

  <a href="/strikers?query=los+angeles" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dcgubphgl/image/upload/v1645808119/Blade-Runner_hxo5tq.jpg)">
    Los Angeles
  </a>

  <a href="/strikers?query=chicago" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dcgubphgl/image/upload/v1645808218/150827_FT_TCity00_fg4oeq.jpg)">
    Chicago
  </a>

  <a href="/strikers?query=moscow" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dcgubphgl/image/upload/v1645808290/5cacb2d085600a41fe4c3a4a_mfinag.jpg)">
    Moscow
  </a>

 <a href="/strikers?query=tokyo" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dcgubphgl/image/upload/v1645808400/tokyo_kguhf5.jpg)">
    Tokyo
  </a>

  <a href="/strikers?query=" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dcgubphgl/image/upload/v1645808563/Le-titre-de-Terminator-6-serait-tombe%CC%81-_zawiiv.jpg)">
    More...
  </a>
</div>
